.dHeader{
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	height: 80px;
}

#dLogo{
	height: 90%;
	margin: auto 3%;
}

.sectionHotel{
	padding: 35px;

	background-color: rgba(255, 255, 255, 0.85);
  	border-radius: 2vw;
  	width: 70%;
  	margin-left: 2%;
}

.fotosHotel{

	width: 15vw;
	height: 12vw;

}

#fotosHotel2{

	width: 15vw;
	height: 12vw;

	border-radius: 25px;
}

#dNombreHotel{
	font-size: 3vw;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

#fotoEstrellas{
	height: 3vw;
	margin: auto;
}

.divInfoHotel{
	margin-left: 1vw;
}

.parrafoInfo{
	font-size: 1.2vw;
	font-family: Helvetica, Arial, sans-serif;
}

#divReservaHotel{

}

#textoPrecioReserva{
	margin: auto 0;
	margin-bottom: 5px;
	font-size: 1.7vw;
	font-family: Helvetica, Arial, sans-serif;
}

#precioReserva{
	margin: auto;
	margin-left: 15px;
	margin-bottom: 0;
	color: #74bc4b;
	font-size: 2.8vw;
	font-family: Helvetica, Arial, sans-serif;
}

.btn {
  display: block;
  width: 30%;
  height: 80%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2.5vw;
  color: #fff;
  background-color: #74bc4b;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #3D8C72;
  text-align: center;
  line-height: 150%;
  text-decoration: none;
  margin: auto 0;
  margin-right: 10%;
  
  -webkit-animation: btnWiggle 6s infinite;
  -moz-animation: btnWiggle 6s infinite;
  -o-animation: btnWiggle 6s infinite;
  animation: btnWiggle 6s infinite;
}

.btn:hover{
  -webkit-animation: btnWiggle 6s infinite;
  -moz-animation: btnWiggle 6s infinite;
  -o-animation: btnWiggle 6s infinite;
  animation: btnWiggle 6s infinite;
}

/* animation */
@-webkit-keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-10deg);}
    3.5% {-webkit-transform: rotate(10deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-10deg);}
    3.5% {-webkit-transform: rotate(10deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-10deg);}
    3.5% {-webkit-transform: rotate(10deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}




/***********página de lista busqueda****************/

.tituloLista{
    font-size: 2vw;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

.divBusqueda{
	display: flex;
}

.barraBusqueda{
	display:flex;
	width: 70%;
	margin: 1.5% 0;
	border-radius: 12px;
	border: 4px solid #46b8da;
}

#imgBuscar{
  width: 5%;
  height: 95%;
  margin:auto;
  margin-top: 0;
  margin-bottom: 0;
}

#inputBuscar{
  width:100%;
  height: 100%;
  font-size: 35px;
  border: 0;
  border-radius: 12px;
  margin:0 auto;
}

#listaHoteles{
	overflow-y: scroll;
	height: 25vw;
}

.fotoListaHotel{
	width: 11vw;
	height: 9vw;

	border-radius: 25px;
}

.dNombreListaHotel{
	font-size: 2vw;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.fotoListaEstrellas{
	height: 1.8vw;
	margin: auto;
}

.divInfoListaHotel{
	margin-left: 1vw;
	width: 50%;
}

.divReservaListaHotel{
	width: 30%;
	display: flex;
}

.precioListaReserva{
	margin: auto 0;
	color: #74bc4b;
	font-size: 2.8vw;
	font-family: Helvetica, Arial, sans-serif;
}

.hotelBlock{
	margin: 25px 0;
	display: flex;
}



.buttonGo {
  background: #4088da;
  margin : auto 10px;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 6px;
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background : #46b8da;
  left : -250px;
  transition : .3s;
}
.btnText {
  color : white;
  transition : .3s;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
}
.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
  color : #FFF;
  transition: .3s;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
}
.buttonGo:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.buttonGo:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}


.btnLista{
  cursor: pointer;
  display: block;
  width: 50%;
  height: 2.7vw;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.8vw;
  color: #fff;
  background-color: #74bc4b;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #3D8C72;
  text-align: center;
  line-height: 150%;
  text-decoration: none;
  margin: auto;
  margin-right: 0;
  -webkit-animation: btnWiggle 6s infinite;
  -moz-animation: btnWiggle 6s infinite;
  -o-animation: btnWiggle 6s infinite;
  animation: btnWiggle 6s infinite;
}


.asideHotel{
	padding: 35px;

	background-color: rgba(255, 255, 255, 0.85);
  	border-radius: 2vw;
  	width: 20%;
  	/*margin-left: 10px;*/
}

.textoFiltro{
	font-size: 1.35vw;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    margin-top: 25px;
}

.tituloFiltros{
  font-size: 2vw;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}



.rate {
    float: left;
    height: 75px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:50px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



/* Reset */
.buttonFiltros {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
.buttonFiltros {
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.buttonFiltros:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

.buttonFiltros:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}

.buttonReload{
  font-size: 50px;
  padding: 6px 12px;
  background: rgba(226, 142, 52, 1);
  border-bottom: 1px solid rgba(226, 150, 60, 1);
}

.buttonReload:active{
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba(163, 17, 17, 1);
}


.dFechaBusqueda{
  /*margin: 0px 0 0px 3px !important;
  width: 20% !important;*/

  margin: 25px 0 0px 30px;
  width: 6vw;
  font-size: 1.1vw;
  font-weight: bold;
  padding: 5px;
  border-radius: 12px;
  background-color: rgba(201, 241, 253, 0.92);;
  border:0;
  transition: background .5s linear;
  -webkit-transition: background .5s linear;
  -moz-transition: background .5s linear;

}





/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  font-family: "Open Sans", Helvetica;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


#divPagoHotel{
  display: flex;
  margin-top: 20px;
}

.fotoFormaPago{
  vertical-align: middle;
  width: 50px;
  height: 50px;
}




