
/*Utilizamos tamaños porcentuales para el ancho de los elementos y vw para las fuentes de manera que adapte al width de la pantalla*/
body {
  /*Establecemos un fondo al body de la web*/
  background-image: url(../images/proto.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  background-attachment: fixed;
  

  box-sizing: border-box;
  margin: 0;
}

/*con este div conseguimos que al hacer click en un popup, se oscurezca el fondo*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/*css para los popups*/
.pop {
     width: 600px;
    padding: 30px;
    display:none;
    padding-bottom: 0px;
    padding-top: 0px;

    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);

}

/*Estos estilos corresponden con los botones de entrar, registrarse y borrar, tienen una animación basada en transiciones css */
/*Estilo botón verde*/

.botonReg{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;

}

/*Estilo botón rojo*/
.botonCerrar{
  background:#ba1212;
  color:#fff;
  border:none;
  position:relative;
  height:30px;
  font-size:1.6em;
  padding:0 .5em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin:auto;
  margin-right:0;

}



.botonEntrar,.botonRegistro{
  margin-top:5%;
}

.botonPop{
  margin:auto;
  margin-bottom: 3%;
  margin-top: 2%;
}

/*Los siguientes :hover permiten que se realicen las transiciones*/
.botonReg:hover{
  background:#fff;
  color:#1AAB8A;
}
.botonReg:before,.botonReg:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.botonReg:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.botonReg:hover:before,.botonReg:hover:after{
  width:100%;
  transition:800ms ease all;
}

.botonCerrar:hover{
  background:#fff;
  color:#ba1212;
}
.botonCerrar:before,.botonCerrar:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ba1212;
  transition:400ms ease all;
}
.botonCerrar:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.botonCerrar:hover:before,.botonCerrar:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*styles para el formulario de registro*/
.textoRegistro{
  margin: 10px 0 10px 0;
	font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
	font-size: 25px;
}

.textoInput{
  margin: 10px 0 10px 30px;
	font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
	font-size: 20px;
}

.inputDataRegistro{
  margin: 0px 0 0px 30px;
  width: 20vw;
	font-size: 15px;
	padding: 5px;
  border-radius: 12px;
	border: 2px solid #1AAB8A;
  transition: background .5s linear;
    -webkit-transition: background .5s linear;
    -moz-transition: background .5s linear;
}

.tituloInicioSesionPop{
  margin: 20px 0 10px 0;
  margin-top: 3%;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
	font-size: 1.7vw;
}

/*referencias para emplear la url de una imagen en el registro*/
#imgInp{
  margin: auto 0;
  margin-left: 30px;
  width: 20vw;
	font-size: 15px;
	padding: 5px;
  border-radius: 12px;
	border: 2px solid #1AAB8A;
}

#blah{
  margin: auto;
  width: 3vw;
  margin-left: 2%;
}


/*Este es el header de la página, es blanco con opacidad de 0.8, contiene el logo, el título y diversas opciones*/
/*Elementos correspondientes al header*/
header {
  background-color:  rgba(201, 241, 253, 0.92);
display: flex;
 position: fixed;
 width: 100%;
 top:0;
}

#logo{
	width: 5vw;
	height: 5vw;

	margin: auto 3%;
}

h1{
	vertical-align: middle;
	margin: auto 5%;

	font-size: 2.3vw;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	text-shadow: 1px 1px 1px #000;
}

#listaHeader{
	display: flex;
	margin: 0;
	padding: 0;
	width: 40%;

	list-style-type: none;
}

.seleccionHeader{
	margin: 0 3%;

	border-right: 1px solid rgba(255, 255, 255, 0);
	border-left: 1px solid rgba(255, 255, 255, 0);
}

.seleccionTexto{
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-size: 2vw;
	padding: 0 20px
}

.seleccionHeader:hover{
	background-color: rgba(255, 255, 255, 0.7);
	border-right: 1px solid black;
	border-left: 1px solid black;

	cursor: pointer;
}

/*Fin de los elementos correspondientes al header*/


#cuerpo {
  margin: 2%  1%;
  display: flex;
}


/*Elementos correspondientes al aside*/
.aside {
  /*Establecemos el estilo del aside, que se corresponderá con un 30% en la parte izquierda*/

  background-color: rgb(255, 255, 255);
  border-radius: 2vw;
  width: 30%;
}

.divUsuario {
  display: flex;
  height: 150px;
}

#usuario {
  margin: auto;
  width: 20%;
  border-radius: 50%;
  display: inline;
}

#nombreUser {
  margin: auto;
  width: 70%;
  text-align: center;
  font-size: 2vw;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
}

.titulo {
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  width: 75%;
  font-size: 2vw;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
}

.parrafo {
  margin: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 80%;
  font-size: 1.2vw;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
}

.listaOpiniones {
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 80%;
  padding: 0;
  list-style-type: none;
}

.linkOpcion{
  text-decoration: none;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  width: 75%;
  font-size: 2vw;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;

}

.linkOpcion:hover{
  color: #1AAB8A;
  text-decoration: underline;
  cursor: pointer;
}

.link {
  color: #8128D1;
  font-size: 1.8vw;
  text-decoration: none;
  font-family: Arial;
  cursor: pointer;
}

.link:active {
  color: #E9F809;
}

.link:hover {
  text-decoration: underline;
}

.displayNone{
  display: none;
}

.divFlex {
  display: flex;
}

.tituloPop{
  font-size: 2vw;
  margin: auto;
  vertical-align: middle;
  font-family: Impact;
}

.botonSuma {
  margin: auto;
  font-size: 2vw;
  background-color: #F3894C;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

#listaPreferencias {
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 80%;
  padding: 0;
  list-style-type: none;
}

.filaPreferencia {
  display: inline-flex;
  margin: 1vw;
}

.preferencia {
  font-size: 1.2vw;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
  color: white;
  background-color: #8128D1;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.botonEliminar {
  margin: auto;
  font-size: 1.2vw;
  font-family: Comic Sans MS;
  background-color: #F3894C;
  border-radius: 10px;
  padding: 5px;
  color: white;
  cursor: pointer;
}

/*Fin de los elementos correspondientes al aside*/


/*Elementos correspondientes al section*/
.section {
  /*Establecemos el estilo del section de la pagina web , que se corresponde con el 70% derecho*/

  background-color: rgb(255, 255, 255);
  border-radius: 2vw;
  width: 70%;
  margin-left: 10px;
}

#section-inf{
  display: block;
}

#section-opi{
  display: none;
}

.tituloSection {
  margin: 10%;
  margin-top: 6%;
  margin-bottom: 2%;
  font-size: 3vw;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
  text-align: left;
}

.divFormulario {
  display: flex;
  width: 90%;
  margin: auto;
}

.datoFormulario1 {
  background-color: rgba(26, 171, 138,0.8);
  border-radius: 12px;
	border: 5px solid #1AAB8A;
  width: 40%;
  margin: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  font-size: 2vw;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
  transition: background .15s linear;
    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
}

.datoFormulario1:hover,.datoFormulario2:hover {

  background-color:white;
}

.datoFormulario2 {
  background-color: rgba(26, 171, 138,0.8);
  border-radius: 12px;
	border: 5px solid #1AAB8A;
  width: 100%;
  margin: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  font-size: 2vw;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
  transition: background .15s linear;
    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;

}



.divActividad {
  /*son los cuadrados de la parte de progreso*/
  background-color: #41BEF4;
  display: block;
  width: 14vw;
  height: 14vw;
  margin: auto;
  background-color: rgba(26, 171, 138,0.8);
border-radius: 12px;
	border: 5px solid #1AAB8A;
transition: background .15s linear;
    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
}

.divActividad:hover {
  background-color:white;
}

.datoActividad {
  margin: 15%;
  text-align: center;
  font-size: 2.5vw;
  font-family: Comic Sans MS;
}

.divSeccionOpinion {
  width: 80%;
  margin: auto;
  border: 2px solid black;
  border-radius: 1em;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 5px solid #1AAB8A;
transition: background .15s linear;
    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
}

.fotoSeccionOpinion {
  width: 10vw;
  height: 10vw;
  margin: 3%;
  border-radius: 1em;
}

.fotoSeccionOpinionPop {
  width: 5vw;
  height: 5vw;
  margin: 3%;
  border-radius: 1em;
}

.divTextos {
  width: 70%;
}

.divLoad {
  display: flex;
}

.load {
  margin: auto;
  width: 10%;
}

/*Fin de los elementos correspondientes al section*/


/*Elementos correspondientes con el footer*/
.footer {
  border: 2px solid black;
  background-color: rgba(36, 36, 36, 0.95);
  display: flex;
  height: 100px;
  text-align: right;
}

.linkSocial {
  margin: auto;
  margin-right: 1vw;
  margin-left: 1vw;
  height: 70%;
}

.redSocial {
  height: 100%;
}

.copyright {
  margin: auto;
  margin-bottom: 1vh;
  margin-left: 1vw;
  font-size: 20px;
}
/*Fin de los elementos correspondientes al footer*/
